@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear:both;
    }
}

@mixin positionCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin respond($breakpointer){
    
    @if $breakpointer == phone {
        @media (max-width: 600px ) {@content}
    }

    @else if $breakpointer == tablet {
        @media (max-width: 740px ) {@content}
    }

    @else if $breakpointer == tab-port {
        @media (max-width:960px) {@content}
    }

    @else if $breakpointer == tab-land {
        @media (max-width:1200px) {@content}
    }

    @else if $breakpointer == big-desktop {
        @media (min-width:1800px) {@content}
    }

}




