$color-black: #000;
$color-white: #fff;
$color-white-light: rgba(225, 225, 225, 0.8);


$color-primary-light: rgba(238, 75, 43, 0.09);
$color-primary: #FA5632;
$color-primary-dark: #F6392A;


$color-hover: #fafafa;
$color-boder: #d3d3d3;
$color-text-light: #d3d3d3;

$color-heading: #999;
$color-text: #666;

$border-color: #9a9a9a;